{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Book List</title>
{% endblock meta %}

{% block content %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <h2 style="text-align: center;">Welcome to Book Section</h2>
        </div>
    </section>

    <section class="inner-page">
        <div id="book_list" class="card">
            <div id="buyModal" class="modal fade" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% if user.is_authenticated %}
                        <div class="modal-header">
                            <h1 id="buyModalLabel" class="modal-title fs-5">Buy Book</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
            
                        <div class="modal-body">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img id="modal_book_cover" class="img-fluid">
                                </div>
                                <div class="col-md-4">
                                    <form id="form" class="form" onsubmit="return false;">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="amount" class="col-form-label">Amount:</label>
                                            {{ form.amount }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" id="buy_button" class="btn btn-outline-warning" data-bs-dismiss="modal">Buy</button>
                        </div>
                        {% else %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Unable to Buy Book</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Only logged-in user may buy books.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'main:login' %}?next={% url 'books:show_main' %}">
                                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Login</button>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <label class="fw-normal fs-6" for="filter">Filter Book Type:</label>
                <select class="form-select mb-3" id="filter" name="filter" onchange="refreshBookList(this.value, undefined);" style="width: 175px; display: inline-block;">
                    <option value="none" selected>None</option>
                    <option value="MGA">Manga</option>
                    <option value="LNV">Light-Novel</option>
                    <option value="DJS">Doujinshi</option>
                    <option value="MHW">Manhwa</option>
                    <option value="MHU">Manhua</option>
                    <option value="NVL">Novel</option>
                    <option value="OTH">Other</option>
                </select>
                <label class="fw-normal fs-6 ms-5" for="book-bought">View:</label>
                <select class="form-select mb-3" id="book-bought" name="book-bought" onchange="refreshBookList(undefined, this.value);" style="width: 175px; display: inline-block;">
                    <option value="all" selected>All Books</option>
                    <option value="bought">Bought Books</option>
                </select>
                <table id="list"></table>
            </div>
        </div>
    </section>

<script src="{% static 'js/books.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/books.css' %}">
</main>
{% endblock content %}
