{% extends 'base.html' %}

{% block meta %}
<title>Book List</title>
{% endblock meta %}

{% block content %}
<h2>Welcome, {{ name }}</h2>

<div id="book_list">
    <label for="filter">Filter Book Type:</label>
    <select id="filter" name="filter" onchange="refreshList(this.value);">
        <option value="none" selected>None</option>
        <option value="MGA">Manga</option>
        <option value="LNV">Light-Novel</option>
        <option value="DJS">Doujinshi</option>
        <option value="MHW">Manhwa</option>
        <option value="MHU">Manhua</option>
        <option value="NVL">Novel</option>
        <option value="OTH">Other</option>
    </select>
    <table id="list">
    </table>
</div>

<script>
    // async function getBook(option) {
    //     const value = option.value;
    //     console.log(value);
    // }

    async function getBookList(filter) {
        return fetch(`{% url 'books:get_book_list' %}?filter=${filter}`)
            .then((res) => res.json());
    }

    async function getBookBought() {
        return fetch("{% url 'books:get_book_bought' %}")
            .then((res) => res.json());
    }

    async function refreshList(filter) {
        const books = await getBookList(filter);
        document.getElementById("list").innerHTML = "";
        let htmlString = `
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Volumes</th>
                    <th>Score</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        `;
        books.forEach((book) => {
            const buyUrl = "{% url 'books:buy_book' id=0 %}".replace("0", book.pk);
            htmlString += `
                <tr>
                    <td><img src=${book.fields.image_url}></td>
                    <td>${book.fields.title}</td>
                    <td>${book.fields.volumes}</td>
                    <td>${book.fields.score}</td>
                    <td><a href="${buyUrl}"><button>Buy</button></a></td>
                </tr>
            `;
        });
        htmlString += "</tbody>"
        document.getElementById("list").innerHTML = htmlString;
    }

    refreshList("none");

</script>
{% endblock content %}
