{% extends 'base.html' %}

{% block meta %}
<title>Book Journal</title>
{% endblock meta %}

{% block content %}
<h2>Welcome, {{ name }}!</h2>

<div class="card">
    <div class="card-body">
        <label for="filter">Filter Book Type:</label>
        <select id="filter" name="filter" onchange="refreshList(this.value);">
            <option value="none" selected>None</option>
            <option value="MGA">Manga</option>
            <option value="LNV">Light-Novel</option>
            <option value="DJS">Doujinshi</option>
            <option value="MHW">Manhwa</option>
            <option value="MHU">Manhua</option>
            <option value="NVL">Novel</option>
            <option value="OTH">Other</option>
        </select>
        <table id="list">
        </table>
    </div>
</div>

<script>
    async function getBookList(filter) {
        return fetch(`{% url 'books:get_book_list' %}?filter=${filter}`)
            .then((res) => res.json());
    }

    async function refreshList(filter) {
        const books = await getBookList(filter);
        document.getElementById("list").innerHTML = "";
        let htmlString = `
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Volumes</th>
                    <th>Score</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        `;
        books.forEach((book) => {
            htmlString += `
                <tr id="${book.pk}">
                    <td><img src=${book.fields.image_url}></td>
                    <td>${book.fields.title}</td>
                    <td>${book.fields.volumes}</td>
                    <td>${book.fields.score}</td>
                    <td>
                        <a class="btn btn-primary" href="show_journal/${book.pk}/">Add Journal</a>
                    </td>
                </tr>
            `;
        });
        htmlString += "</tbody>"
        document.getElementById("list").innerHTML = htmlString;
    }
    refreshList("none");
</script>
{% endblock content %}
