{% extends 'base.html' %}

{% block meta %}
<title>My Journal</title>
{% endblock meta %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>{{ name }}'s Journal for: {{ book.title }}</h2>
        <hr>  
        <div class="row" id="item-cards"></div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="book-title">{{ book.title }}</h1> 
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="date-started" class="col-form-label">Date Started:</label>
                                <input type="date" class="form-control" id="date-started" name="date-started"/>
                            </div>
                            <div class="mb-3">
                                <label for="date-finished" class="col-form-label">Date Finished:</label>
                                <input type="date" class="form-control" id="date-finished" name="date-finished"/>
                            </div>
                            <div class="mb-3">
                                <label for="notes" class="col-form-label">Notes:</label>
                                <textarea class="form-control" id="notes" name="notes" autocomplete="off"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="favorite-quotes" class="col-form-label">Favorite Quotes:</label>
                                <textarea class="form-control" id="favorite-quotes" name="favorite-quotes" autocomplete="off"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="rating" class="col-form-label">Rating:</label>
                                <input type="range" class="form-control" id="rating" name="rating" min="1" max="5" value="1">
                                <output for="rating" id="ratingValue" style="text-align: center;">1</output>
                            </div>
                        </form>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Journal</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Journal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this journal?</p>
                        <p>This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="confirmDeleteJournal()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteUnsuccessfulConfirmationModal" tabindex="-1" aria-labelledby="deleteUnsuccessfulConfirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Journal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>You don't have any journal added. Please start your journal first.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="start-journal-button">Start Journal</button>
            <button type="button" class="btn btn-danger" id="delete-journal-button" onclick="deleteJournal()">Delete Journal</button>
        </div>
    </div>
</div>

<script>
    var id="{{ book.pk }}";
    var journalAdded = false;

    async function checkJournalStatus() {
        const journals = await getJournal();
        journalAdded = journals.length > 0;
        if (journalAdded) {
            document.getElementById("start-journal-button").style.display = "none";
        }
        else {
            document.getElementById("start-journal-button").style.display = "block";
        }
    }
    checkJournalStatus();

    async function getJournal() {
        return fetch("{% url 'journal:get_journal_json' id=0 %}".replace("0", id)).then((res) => res.json());
    }

    async function refreshJournal() {
        checkJournalStatus();
        const container = document.getElementById("item-cards");
        container.innerHTML = ""; 

        const journals = await getJournal();
        if (journals.length === 0) {
            container.innerHTML = "You haven't add anything yet:("
        } else {
            journals.forEach(journal => {
                const card = document.createElement("div");
                card.className = "col-md-4";
                card.innerHTML = `
                    <div>
                        <p> Date Started: ${journal.fields.date_started} </p>
                        <p> Date Finished: ${journal.fields.date_finished} </p>
                        <p> Notes: ${journal.fields.notes} </p>
                        <p> Favorite Quotes: ${journal.fields.favorite_quotes} </p>
                        <p> Rating: ${journal.fields.rating} </p>
                    </div>
                `;
                container.appendChild(card);
            });
        }
    }
    refreshJournal();

    async function deleteJournal() {
        if (journalAdded) {
            // Menampilkan modal konfirmasi delete
            $('#deleteConfirmationModal').modal('show');
        } else {
            $('#deleteUnsuccessfulConfirmationModal').modal('show');
        }
    }    

    function confirmDeleteJournal() {
        fetch("{% url 'journal:delete_journal' id=0 %}".replace("0", id)).then((res) => {
            res.json();
            journalAdded = false;
            refreshJournal();
        });
    }
    
    function addJournal() {
        fetch("{% url 'journal:add_journal' id=0 %}".replace("0", id),  {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(() => {
            refreshJournal();
            document.getElementById("form").reset();
        });
        return false
    }
    document.getElementById("button_add").onclick = addJournal

    const rangeInput = document.getElementById("rating");
    const ratingValue = document.getElementById("ratingValue");

    rangeInput.addEventListener("input", function() {
        ratingValue.textContent = this.value;
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock content %}