{% extends 'base.html' %}

{% block meta %}
<title>My Journal</title>
{% endblock meta %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Write your thoughts for: {{ book.title }}</h2>
        <p>Welcome, {{ name }}!</p>
        <hr>  
        <div class="row" id="item-cards"></div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="book-title">{{ book.title }}</h1> 
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="notes" class="col-form-label">Notes:</label>
                                <textarea class="form-control" id="notes" name="notes" autocomplete="off"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="favorite-quotes" class="col-form-label">Favorite Quotes:</label>
                                <textarea class="form-control" id="favorite-quotes" name="favorite-quotes" autocomplete="off"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="rating" class="col-form-label">Rating:</label>
                                <input type="range" class="form-control" id="rating" name="rating" min="1" max="5">
                                <output for="rating" id="ratingValue" style="text-align: center;">1</output>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Journal</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Journal</button>
        </div>
    </div>
</div>

<script>
    var id="{{ book.pk }}";

    async function getJournal() {
        return fetch("{% url 'journal:get_journal_json' id=0 %}".replace("0", id)).then((res) => res.json());
    }

    async function refreshJournal() {
        const container = document.getElementById("item-cards");
        container.innerHTML = ""; 

        const journals = await getJournal();
        console.log(journals.length)
        
        journals.forEach(journal => {
            const card = document.createElement("div");
            card.className = "col-md-4";
            card.innerHTML = `
                <div>
                    <p> Notes: ${journal.fields.notes} </p>
                    <p> Favorite Quotes: ${journal.fields.favorite_quotes} </p>
                    <p> Rating: ${journal.fields.rating} </p>
                </div>
            `;
            container.appendChild(card);
        });
    }
    refreshJournal();

    function addJournal() {
        fetch("{% url 'journal:add_journal' id=0 %}".replace("0", id),  {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(() => {
            refreshJournal();
            document.getElementById("form").reset();
        });
        return false
    }
    document.getElementById("button_add").onclick = addJournal

    const rangeInput = document.getElementById("rating");
    const ratingValue = document.getElementById("ratingValue");

    rangeInput.addEventListener("input", function() {
        ratingValue.textContent = this.value;
    });
</script>
{% endblock content %}