{% extends 'base.html' %}

{% block meta %}
<title>Takugo: Otaku on the Go!</title>
{% endblock meta %}

{% block content %}
<a href="{% url 'main:register' %}"><button>Register</button></a>
<a href="{% url 'main:login' %}"><button>Login</button></a>
<a href="{% url 'main:logout' %}"><button>Logout</button></a>
<a href="{% url 'main:settings' %}"><button>Settings</button></a>
<a href="{% url 'books:show_main' %}"><button>Books</button></a>
<a href="{% url 'bookreview:show_main' %}"><button>Book Review</button></a>
<a href="{% url 'journal:show_main' %}"><button>Journal</button></a>
{% endblock content %}
